/* src/components/Carousel.module.scss */

.carouselContainer {
  width: 100%;
  height: 300px;
  max-width: 300px; 
  margin: 5px auto;
  position: relative;

}

.carouselItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 300px; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Bordas arredondadas */
 
  object-fit: cover;
}

.nextArrow,
.prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.nextArrow {
  right: 10px;
}

.prevArrow {
  left: 10px;
}

@media (max-width: 768px) {
  .carouselContainer {
    width: 90%;
  }
}
