@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixins/collors.scss";

html, body {
  background: linear-gradient(to bottom, $blue-color, $wite-grencolor);
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $white-color;
}
a {
  color: inherit none;
}
*{
  box-sizing: border-box;
}
