@import "/src/styles/mixins/responsive.scss";

@mixin SizeTitle{
    font-size: 56px;
    @include Responsive {
        font-size: 35px;
    }
}
@mixin SubTitle{
    font-size: 30px;
    @include Responsive {
        font-size: 24px;
    }
}